<launch>

    <node name="serial_arduino" pkg="rosserial_python" type="serial_node.py" output="screen">
        <param name="port" value="/dev/ttyACM0" />
        <param name="baud" value="57600" />
    </node>

    <node name="keyboard_node" pkg="can" type="keyboard.py" output="screen"/>

    
</launch>